<center>
	<h1>Bienvenue sur mon site</h1><br>
	<p style="color:red;">Actuellement, il y a R mais vous pouvez déjà vous inscrire pour ne rien rater !</p>

	<p>Pour t'inscrire clique <%= link_to "==> ici <==", newuser_path %></p>
</center>