<center>
<body>
  <h1 style="color:blue;">Création d'utilisateurs !</h1>

  <!-- ################### Création du formulaire en Form_tag ################### -->
  <form action="/" method="POST">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <fieldset>
      <legend>Informations personelles</legend>
    
    <div class="form-group">
        <label for="text">Username:</label>
        <input type="text" class="form-control" name="username" placeholder="Your Username">
    </div>


    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" name="email" class="form-control" placeholder="name@example.com">
    </div>
    
    <div class="form-group">
        <label for="text">Bio:</label>
        <input type="text" class="form-control form-control-lg" name="bio" placeholder="Your biography">
    </div>

    <button type="submit" class="btn btn-danger">Validez</button>

    </fieldset>
  </form>
</center>

<p><%= link_to "Pour revenir à l'accueil", home_path %></p>

  <!-- ################### Création du formulaire en Form_tag ################### -->
  <!-- <br><br><br><br> -->
  <%#= form_tag url_for(action: 'create'), method: "post" do %>
  <%#= field_set_tag 'Informations personnelles' do %>

  <!-- <p>Entre ton username</p> -->
  <!-- <%#= text_field_tag 'username' %><br><br> -->

  <!-- <p>Entre ton email</p> -->
  <!-- <%#=email_field_tag 'email'%><br><br> -->

  <!-- <p>Complete ta bio</p> -->
  <!-- <%#=text_area_tag 'bio' %><br><br> -->

  <%#= submit_tag "Envoyer", data: { confirm: "Es-tu sur ?" } %>
  <%# end %>
  
  <%# end %>


  <!-- ################### Création du formulaire en Form_for ################### -->
  
  <%#= form_for :user do |f| %>
  <!-- Username : <br> <%#= f.text_field :username %><br /><br>
  email : <br> <%#= f.text_field :email %><br /><br>
  Biographie : <br> <%#= f.text_area :bio %><br /><br> -->
  <%#= f.submit %>
  <%# end %>
  

</body>